<header class="bg-base-100 shadow-sm">
  <div class="navbar">
    <div class="flex-1">
      <a href="<%= cats_path %>" class="text-3xl font-bold px-5 text-secondary-content">ねこ飯伝言板へようこそ</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-5 gap-4">
        <li><%= link_to 'アカウント', '#', class: "btn btn-lg btn-primary" %></li>
        <li><%= link_to 'ログアウト', logout_path, class: "btn btn-lg btn-primary", data: { turbo_method: :delete } %></li>
      </ul>
    </div>
  </div>
</header>