<header class="bg-base-100 shadow-sm">
  <div class="navbar">
    <div class="flex-1">
      <a href="<%= root_path %>" class="text-3xl font-bold px-5 text-accent">YUMIYUMI</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-5 gap-4">
        <li><%= link_to 'ログイン', '#', class: "btn btn-lg btn-primary" %></li>
        <li><%= link_to '新規登録', new_user_path, class: "btn btn-lg btn-primary" %></li>
      </ul>
    </div>
  </div>
</header>